*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --font1: variex, sans-serif;
    --font2: ocr-a-std, monospace;
    --v: #7426CB;
    --rp: #CD365F;
    --o:#E36F17;
    --gw:#11ECCF;
    --bb:#2C2626;
}


#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--v);
    background-color: var(--bb);
    font-family: var(--font1);
    font-weight: 400;
    font-style: normal;
    font-size: 70pt;
}

body{
    background-color: var(--bb);
}

a{
    list-style: none;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: #fff;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#box2{
    font-family: var(--font2);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height: 17rem;
    color: #fff;
    width: 50rem;
    padding:20px;
    border: 3px solid var(--v);
    margin: 10px 0px;
}

.f1{
    font-family: Var(--font1);
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--v);
    border: none;
    height: 4rem;
    width: 8rem;
}

.f1:hover {
    background-color: var(--rp);

}

.f2{
    font-family: var(--font2);
    font-weight: 400;
    font-style: normal;
    font-size:1rem;
    color: #fff;
}
input{
    background-color: var(--bb);
    border:none;
    font-size: 1.2rem;
    font-family: var(--font2);
    outline: none;
    border-bottom: 1.5px solid #fff;
    color: var(--rp); 
}
label{
    font-size: 1.5rem;
    margin-right: 20px;
}

.sb{
    float: right;
}

input[type="submit"]{
    cursor: pointer;
}

i{
    color: #7426CB;
    padding-left: 75px;    
}

i:hover{
    color: var(--rp);
}

.Admin{
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.f1a{
    font-family: Var(--font1);
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
    margin-right: 30px;
}