*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --font1: variex, sans-serif;
    --font2: ocr-a-std, monospace;
    --v: #7426CB;
    --rp: #CD365F;
    --o:#E36F17;
    --gw:#11ECCF;
    --bb:#2C2626;
}

body{
    background-color: var(--bb);
}

#nav{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: 0px 20px;
    background-color: var(--rp);
    color: #fff;
    height: 60px;
    align-items: center;
}

a{
    text-decoration: none;
    list-style: none;
    cursor: pointer; 
}

.back{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.b{
    padding-right: 40px;
}

.f1{
    font-family: Var(--font1);
    font-weight: 400;
    font-style: normal;
    color: #fff;

}

.f2{
    font-family: var(--font2);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #fff;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box2{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 17rem;
    color: #fff;
    width: 50rem;
    padding:20px;
    border: 3px solid var(--v);
    margin: 10px 0px;
}
p{
    font-family: var(--font2);
    padding-bottom: 30px;
}