*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --font1: variex, sans-serif;
    --font2: ocr-a-std, monospace;
    --v: #7426CB;
    --rp: #CD365F;
    --o:#E36F17;
    --gw:#11ECCF;
    --bb:#2C2626;
}

body{
    background-color: var(--bb);
}

a{
    text-decoration: none;
    list-style: none;
    cursor: pointer; 
}

#nav{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: 0px 20px;
    background-color: var(--rp);
    color: #fff;
    height: 60px;
    align-items: center;
}

.back{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}
.b{
    padding-right: 40px;
}

.f1{
    font-family: Var(--font1);
    font-weight: 400;
    font-style: normal;
    color: #fff;

}

.f2{
    font-family: var(--font2);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #fff;
}

.con .f2{
    font-size: 1.5rem;
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5rem;

}
.payimg{
    height: 250px;
    width: 300px;
}
.con{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#box{
    height: 15rem;
    width: 15rem;
    border: 3px solid var(--v);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    transform: scale(1);
    transition: all .5s ease;
}

#box:hover{
    transform: scale(1.07);
    box-shadow: #555 5px 5px 5px;
}
